.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.SelectAuton {
    background-color: #e2d3c6;
}

.SelectTeleop {
    background-color: #bdd4cf;
}

* {
    touch-action: manipulation;